In [1]:
import pandas as pd
iris_df = pd.read_csv('iris.csv')
iris_df.head(5)

,Sepal Length (in cm),Sepal Width (in cm),Petal length (in cm),Petal width (in cm),Class
0,5.1,3.5,1.4,0.2,Iris-setosa
1,4.9,3.0,1.4,0.2,Iris-setosa
2,4.7,3.2,1.3,0.2,Iris-setosa
3,4.6,3.1,1.5,0.2,Iris-setosa
4,5.0,3.6,1.4,0.2,Iris-setosa

In [2]:
print (iris_df.isnull().sum())
print (iris_df.info())

Sepal Length (in cm)    0
Sepal Width (in cm)     0
Petal length (in cm)    0
Petal width (in cm)     0
Class                   0
dtype: int64
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Sepal Length (in cm)  150 non-null    float64
 1   Sepal Width (in cm)   150 non-null    float64
 2   Petal length (in cm)  150 non-null    float64
 3   Petal width (in cm)   150 non-null    float64
 4   Class                 150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB
None

In [3]:
from sklearn.preprocessing import LabelEncoder
LE = LabelEncoder()
iris_df['Class'] = LE.fit_transform(iris_df['Class'])
iris_df.head(5)

,Sepal Length (in cm),Sepal Width (in cm),Petal length (in cm),Petal width (in cm),Class
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0

In [4]:
X = iris_df.drop('Class', axis = 1)
y = iris_df['Class']

In [5]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split
from sklearn import metrics

In [6]:
test_size = 0.30 # taking 70:30 training and test set
seed = 7  # Random numbmer seeding for reapeatability of the code
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=test_size, random_state=seed)

In [7]:
NN = KNeighborsClassifier()
NN.fit(X_train,y_train)

KNeighborsClassifier()

In [8]:
y_pred = NN.predict(X_test)

In [9]:
from sklearn.metrics import accuracy_score

In [10]:
accuracy_score(y_pred,y_test)

0.9111111111111111

In [11]:
metrics.confusion_matrix(y_train, NN.predict(X_train))

array([[38,  0,  0],
       [ 0, 32,  2],
       [ 0,  0, 33]], dtype=int64)

In [12]:
metrics.confusion_matrix(y_test, y_pred)

array([[12,  0,  0],
       [ 0, 15,  1],
       [ 0,  3, 14]], dtype=int64)

In [13]:
print(("Test accuracy: ", NN.score(X_test, y_test)))
print(("Train accuracy: ",NN.score(X_train, y_train)))

('Test accuracy: ', 0.9111111111111111)
('Train accuracy: ', 0.9809523809523809)

Cross Validation to find optimal K

In [14]:
from sklearn.model_selection import cross_val_score
import numpy as np
print(X_train.shape[0])
print (int(np.sqrt(X_train.shape[0])))
maxK = int(np.sqrt(X_train.shape[0]))
print(maxK)

105
10
10

In [15]:
# creating odd list of K for KNN
myList = list(range(1,15))
# subsetting just the odd ones
neighbors = list(filter(lambda x: x % 2 != 0, myList))

In [16]:
# empty list that will hold cv scores
cv_scores = []
# perform 10-fold cross validation
for k in neighbors:
    knn = KNeighborsClassifier(n_neighbors=k)
    scores = cross_val_score(knn, X_train, y_train, cv=10, scoring='accuracy')
    cv_scores.append(scores.mean())

In [17]:
# changing to misclassification error
misError = [1 - x for x in cv_scores]

In [18]:
# determining best k
optimal_k = neighbors[misError.index(min(misError))]
print("The optimal number of neighbors is %d" % optimal_k)

The optimal number of neighbors is 11